@media screen and (max-width : 1440px) {

    .herobox .passion_2 a{
        font-size: 160px;
    }
    .herobox p{
        font-size: 25px;
        left: 15%;
    }
}

@media screen and (max-width : 1024px) {

    nav a.contact_btn{
        width: 140px;
        font-size: 15px;
        height: 45px;
    }
    .nav_logo{
        width: 15%;
    }
    .herobox .intro{
        font-size: 25px;
    }
    .herobox .passion_1 a{
        font-size: 150px;
    }
    .herobox .passion_1_outline a{
        font-size: 150px;
    }
    .herobox .passion_2{
        width: 80%;
    }
    .herobox .passion_2 a{
        font-size: 140px;  
    }
    .herobox .passion_2_outline a{
        font-size: 140px; 
    }
    .herobox_image{
        width: 40%;
    }
    .herobox p{
        font-size: 22px;
        left: 7%;
    }
    .herobox a.designer_btn{
        width: 160px;
        font-size: 15px;
        left: 33%;
    }
    .herobox a.photographer_btn{
        width: 180px;
        font-size: 15px;
    }
}

@media screen and (max-width : 768px) {

    .cursor{
        display: none;
    }

    nav{
        padding: 0 70px 0 20px;
    }
    nav ul{
        display: none;
    }
    .nav_logo{
        width: 22%;
    }
    .toggle-icon{
        display: block;
    }
    .herobox .passion_1 a{
        font-size: 130px;
    }
    .herobox .passion_1_outline a{
        font-size: 130px;
    }
    .herobox .passion_2{
        width: 90%;
        height: 22%;
    }
    .herobox .passion_2 a{
        font-size: 115px;
    }
    .herobox .passion_2_outline{
        width: 90%;
        height: 22%;
    }
    .herobox .passion_2_outline a{
        font-size: 115px;
    }
    .herobox_image{
        height: 68%;
        width: 42%;
        top: 18%;
    }
    .herobox p{
        bottom: 28%;
        left: 3%;
        font-size: 16px;
    }
    .herobox a.designer_btn{
        left: 28%;
        bottom: 8%;
    }
    .herobox a.photographer_btn{
        bottom: 8%;
    }
}

